.CartItem {
  display: flex;
}

.CartItem-image {
  width: 180px;
  height: 180px;
}

.CartItem-image img {
  width: 100%;
  object-fit: contain;
}
.CartItem-info {
  flex-grow: 1;
}
.CartItem-price {
  font-size: 18px;
  font-weight: 700;
}
.item-actions {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-delete {
  color: #007185;
}
.info-stock {
  color: #007600;
  margin-top: 4px;
}
.info-title h2 {
  margin: 0;
  font-size: 18px;
  color: #007185;
}
select {
  padding: 4px;
  border-radius: 4px;
  background-color: #f0f2f2;
  box-shadow: ;
}
